@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

.hero-section{
    font-weight: 400;
    background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 786px){
    .hero-section{
        min-height: 50vh;
    }
}

.hero-section span{
    font-size: small;
}

.black-box{
    width: 100vw;
    background-color: #000;
    font-weight: 400;
    color: white;
    text-align: center;
    justify-content: center;
    height: 25vh;
}

.black-box h3{
    font-size: 80px;
}

.black-box span{
    font-size: 96px;
}

@media screen and (max-width: 786px){
    .black-box>h3{
        font-size: 24px;
    }
    .black-box h3 span{
        font-size: 40px;
    }
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 20px;
}

/* Card Item */
.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Card Styling */
.card {
    max-width: 340px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
    margin: 20px;
}

/* Card Image Styling */
.card img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/* Card Content Styling */
.card-content h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.card-content p{
    display: block;
    margin: 10px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

@media screen and (max-width: 786px){
    .bottom{
        flex-direction: column;
    }
}

.contact{
    width: 50%;
    background-color: orange;
    padding: 20px;
    height: 30vh;
    margin: 50px;
}

.about{
    width: 50%;
    background-color: green;
    padding: 20px;
    height: 30vh;
}